@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: add transition for smooth theme change */
html {
  transition: background-color 0.3s, color 0.3s;
}


@import "tailwindcss";
@plugin "daisyui";